<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 导入 bootstrap CSS -->
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css">
    <!-- 导入公共的 CSS -->
    <link rel="stylesheet" href="./css/base.css">
</head>

<body>
    <!-- 侧边栏 -->
    <div class="lt_aside">
        <!-- logo -->
        <div class="logo">
            <h2>
                <a href="./index.html">ITCAST</a>
            </h2>
        </div>
        <!-- 用户头像 -->
        <div class="user">
            <!-- 图片 -->
            <img src="./images/default.png" alt="">
            <!-- 用户名字 -->
            <span>超级管理员</span>
        </div>
        <!-- 菜单 -->
        <div class="content">
            <ul>
                <li class="active">
                    <a href="user.html">
                        <span class="glyphicon glyphicon-user"></span>
                        用户管理
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="glyphicon glyphicon-list"></span>
                        分类管理
                    </a>
                    <ol style="display: none">
                        <li>
                            <a href="first.html">一级分栏</a>
                        </li>
                        <li>
                            <a href="second.html">二级分栏</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <a href="products.html">
                        <span class="glyphicon glyphicon-tags"></span>
                        商品管理
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 主体 -->
    <div class="lt_main">
        <!-- 主体的头部 -->
        <div class="lt_nav clearfix">
            <a class="glyphicon glyphicon-align-justify pull-left" href="javascript:void(0)"></a>
            <a class="glyphicon glyphicon glyphicon-log-out pull-right" href="javascript:void(0)"></a>
        </div>
        <div class="content clearfix">
            <!-- 导航 -->
            <ol class="breadcrumb">
                <li>
                    <a href="#">管理系统</a>
                </li>
                <li>
                    用户管理
                </li>
            </ol>
            <!-- 表格 -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>手机号</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td>1</td>
                        <td>ma</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <bottom class="btn btn-danger">禁用</bottom>
                        </td>
                    </tr> -->
                </tbody>
            </table>
            <ul id="pagintor"></ul>
        </div>
    </div>
    <!-- 模态框 -->
    <div class="modal fade modal-sure" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp&nbsp您确定要退出后台管理系统吗</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 表格的模板 -->
    <script id="user-tmp" type="text/html">
        {{each rows}}
        <tr>
            <td>{{(page-1)*size+1+$index}}</td>
            <td>{{$value.username}}</td>
            <td>{{$value.mobile}}</td>
            <td>
                {{if $value.isDelete == 1}}
                    已禁用
                {{else}}
                    正常
                {{/if}}
            </td>
            <td data-id="{{$value.id}}">
                {{if $value.isDelete == 1}}
                    <button class="btn btn-primary">启用</button>
                {{else}}
                    <button class="btn btn-danger">禁用</button>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </script>
</body>

</html>
<!-- 导入 JQ -->
<script src="./lib/jquery/jquery.js"></script>
<!-- 导入 bootstrap 的 JS -->
<script src="./lib/bootstrap/js/bootstrap.js"></script>
<!-- 分页插件 -->
<script src="./lib/bootstrap-paginator/bootstrap-paginator.js"></script>
<!-- 导入模板引擎 -->
<script src="./lib/artTemplate/template.js"></script>
<!-- 导入公共的 JS -->
<script src="./js/common.js"></script>
<!-- 导入自己的 JS -->
<script src="./js/user.js"></script>